* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}

/* Header */

header {
    background-color: aqua;
    height: 18rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.small-column {
    vertical-align:middle;
    background-color: goldenrod;
    margin: 1rem 0;
    border: 2px dashed;
    height: 2rem;
    width: 20%
}

.big-column {
    text-align: center;
    margin: 1rem 0;
    border: 2px dashed;
    vertical-align:middle;
    background-color: goldenrod;
    height: 2rem;
    width: 40%
}

.login {
    text-align: right;
}

.blue {
    background-color: blue;
    height: 14rem;
    border-bottom: 5px solid aqua;
}

.pink-big {
    background-color: rgb(238, 130, 238);
    height: 10rem;
    width: 50%;
    margin: 2rem 0;
    border: 1px dashed ;
}

/* Main content */

.odd {
    height: 18rem;
}

.even {
    height: 18rem;
    background-color: lightgrey;
}

.light-blue {
    background-color: rgb(30, 144, 255);
    margin: 2rem 0;
    width: 45%;
    height: 12rem;
    border: 1px dashed;
}

.pink {
    background-color: pink;
    margin: 2rem 0;
    width: 25%;
    height: 12rem;
    border: 1px dashed;
}

.even-big {
    height: 22rem;
    background-color: lightgrey;
}

.green {
    background-color: green;
    margin: 1rem 0;
    height: 20rem;
    width: 70%;
}